* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  height: 100px;
  width: 100%;
  background-color: blue;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-center {
  float: center;

}

.header-center a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}





.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(top.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.flavors {
  /*もともとlessonwrapperだったとこ*/
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.ice-icon {
  position: relative;
}

.ice-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: blue;
}
